*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(45deg, #cfdee7, #5e7ce2);
    background-attachment: fixed;
}

main{
    padding-left: 400px;
    padding-right: 400px;
}

footer{
    padding-left: 400px;
    padding-right: 400px;
}

a{
    font-size: larger;
    text-decoration: none;
}

li{
    list-style: none;
}