*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    background-color: #CFDEE7;
    background-attachment: fixed;
}

main{
    padding-left: 400px;
    padding-right: 400px;
}

footer{
    padding-left: 400px;
    padding-right: 400px;
}

a{
    font-size: larger;
    text-decoration: none;
}

li{
    list-style: none;
}