@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}
*,*::before,*::after{
    box-sizing: inherit;
}

:root {
    --cor00: #cfdee7;
    --cor01: #92B4f4;
    --cor02: #5e7ce2;
    --cor03: #0a369d;

    --font-padrao: 'Work Sans', sans-serif;
}



body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor01);
}

.fundo {
    height: 100vh;
    width: 100vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

#capa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:  center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}

nav a {
    margin: 20px;
    text-decoration: none;
}

#capa h1 {
    font-weight: bold;
    font-size: 6vw;
}

#capa h3 {
    font-weight: 400;
    font-size: 3vw;
}
#capa h1, #capa h3{
    margin: 10px;
    text-shadow: 2px 2px 4px var(--cor02);
    
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    text-shadow: 2px 2px 4px var(--cor02);
}

#capa h3 {
    font-family: var(--font-padrao);
}

#eu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: white;
}

#serviço {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imagens {
    width: 280px;
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
}

.imagens img {
    height: 100%;
    width: 100%;
}

#freeCodeCamp:hover {
    
}

#contato {
    background: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato h1:first-child {
    font-weight: bolder;
}

#contato div, #contato span, #contado p {
    padding: 10px;
    text-decoration: none;
}

#contato footer{
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: end;
}